@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700);

@mixin body-font-light {
  font-family: 'Roboto', helvetica, verdana, sans-serif;
  font-style: normal;
  font-weight: 300;    
}

@mixin body-font-light-italic {
  font-family: 'Roboto', helvetica, verdana, sans-serif;
  font-style: italic;
  font-weight: 300;    
}

@mixin headline-font {
  font-family: 'Roboto', helvetica, verdana, sans-serif;
  font-style: normal;
  font-weight: 700;    
}

@mixin body-font-light-bold {
  font-family: 'Roboto', helvetica, verdana, sans-serif;
  font-style: normal;
  font-weight: 400;    
}